<html>
    <head>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <title> Module1 assignment</title>
    </head>
    <body ng-app="LunchCheck">
        <div ng-controller="LunchCheckController">
            <input type="text" ng-model="items"> <!--I do NOT consider an empty item ie. , ,-->
            <button ng-click="CalculateQuantity();">Check If Too Much</button>
            <div ng-style="myStyle">{{message}}</div>
        </div>
    </body>
</html>